{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}


<div id="teamt" style="margin: 3%;">
    <h1>Details of the team :</h1>
<table class="table table-dark table-hover" >
    <thead>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
        <th>Creation date</th>
        <th>Captain</th>
    </thead>
    <tbody>
            <tr>
                <td><strong> <a href="{{ path('details_team', {'id' : team.id }) }}" >  {{ team.name }}  </a> </strong> </td>
                <td><strong>  {{ team.country }}  </strong> </td>
                <td><strong> {{ team.city }} </strong> </td>
                <td><strong> {{ team.creationDate|date("d/m/Y") }} </strong> </td>
                <td><strong> {{ team.captain }} </strong> </td>
                {# <td><strong> <a href="" >  {{ team.creationdate }}  </a> </strong> </td> #}
                
                {# <td> <a class="btn btn-danger"  href="{{path('delete_entreprise', {'id' : entreprise.id})}}">  Delete</a></td> #}
            </tr>
    </tbody>

</table >
</div>

{% if team.users |length>0 %}
    
<div style="margin: 3%;">
    <div style="float: left;"><h3>Team players : </h3></div>
    <div style="float: right;"><h4 >Number of players : {{ team.users|length }}</h4></div>
    

        <table class="table table-dark table-hover">
            <tbody> 
                {% for user in team.users %}
                <tr>
                    <td><strong> <a href="{{path('details_user', {'id' : user.id})}}" >  {{ user.firstname }} {{user.lastname}}  </a> </strong></td>
                    {% if app.user == team.captain %}
                    <td>
                        <a class="btn btn-danger" href="{{path('remove_userfromteam', {'id':team.id, 'id_user':user.id})}}" style="float: right;">Remove</a>
                    </td>
                    {% endif %}
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% else %}
<h1 style= "background-color: chartreuse; margin-right: 50%; margin-left: 3%;" >There are no players in this team</h1><br><br>

{% endif %}
</div>

{% if team.users|length == 11 and app.user == team.captain %}

    <h2 class="" style="background-color: darkgoldenrod;">Good job, your team is complete <i class="fa-solid fa-party-horn"></i></h2>
{% endif %}
{% if team.users|length < 11 and app.user == team.captain  %}
<div id="tusers" style="margin: 3%;">

   <a href=""> <h2>Add Players : </h2> </a>
   <div class="overflow-auto">
<table class="table table-dark table-hover">
    <tbody>
    {% for user in users %}
    <tr>
        {% if not user.team %}
        <td><strong> <a href="{{path('details_user', {'id' : user.id})}}" >  
            {{ user.firstname}} {{user.lastname}}  </a> </strong> </td>
            {% if app.user == team.captain %}
            <td>
                <a class="btn btn-primary" href="{{path('add_usertoteam', {'id':team.id, 'id_user':user.id})}}" style="float: right;">Add</a>
            </td>
            {% endif %}
        
        {% endif %}

    </tr>
    {% endfor %}

{% endif %} 
    </tbody>
</table>
</div>
</div>        
   

{% endblock %}