{% extends 'base.html.twig' %}

{% block title %}Hello MatchesController!{% endblock %}

{% block body %}

    <div >
    {% for match in matches %}
      <div >
        <div ><h3>{{ match.getDateMatch()|date("d/m/Y") }}</h3></div><div class="col-xs-4" ><h3>{{ match.team1 }}</h3></div>
        <div class="col-xs-2" ><h3>{{ match.result1 }} {{ "-" }} {{ match.result2 }}</h3></div>
        <div ><h3>{{ match.team2 }}</h3></div>
        
            
        

      </div>  
    {% endfor %}
</div>
{% endblock %}
