{% extends 'base.html.twig' %}

{% block title %} Matches{% endblock %}

{% block body %}



{% set today = "now"|date("d-m-Y") %}
<div class="main_div">

    <div style=" margin: 3%;" class="two_table">


        <div class="finished-matches">
            <h2>Finished Matches :</h2>

            <ul>
                {% for match in matches %}

                {% if match.getMatchDate()|date("d/m/Y") < today and match.teamResult1 is not null and match.teamResult2
                    is not null %} <div
                    style="background-color: rgb(64, 160, 8); border-radius: 5px; width: fit-content; ">
                    <li >{{ match.teamN1 }} <div class="match-result"> {{ match.teamResult1 }} {{ ":" }} {{
                            match.teamResult2 }}</div> {{ match.teamN2 }}
                        {{"("}} {{ match.getMatchDate()|date("d/m/Y") }} {{ ")" }}</li>
        </div>

        {% endif %}

        {% endfor %}
        </ul>
    </div>


    <div class="upcoming-matches">
        {% set x = 0 %}
        <h2>Upcoming Matches :</h2>
        <ul>
            {% for match in matches %}
            {% if match.getMatchDate()|date("d/m/Y") >= today %}
            <div style="background-color: crimson; width: fit-content; border-radius: 10px;">
                <li>{{ match.teamN1 }} {{ "VS."}} {{ match.teamN2 }} {{"-"}} {{"("}} {{
                    match.getMatchDate()|date("d/m/Y")
                    }} {{ ")"
                    }}</li>
            </div>
            {% set x = x + 1 %}
            {% endif %}
            {% endfor %}
            {% if x == 0 %}
            <h4>{{ "There are no upcoming matches!" }}</h4>
            {% endif %}

        </ul>
    </div>

</div>

<div class="wait_table">
    <div class="waiting-match">
        <h2>Waiting Results :</h2>
        {% for match in matches %}
        {% if match.getMatchDate()|date("d/m/Y") < today %} {% if match.teamResult1 is null or match.teamResult2 is null
            %} <ul>
            <li style="display: inline-block;">{{ match.teamN1 }} {{ "VS."}} {{ match.teamN2 }} {{"-"}} {{"("}} {{
                match.getMatchDate()|date("d/m/Y") }} {{ ")"
                }}</li>
            {% if (app.user and app.user == match.teamN1.captain) or (app.user and app.user == match.teamN2.captain) or
            (app.user and is_granted('ROLE_ADMIN')) %}

            <a href="{{ path('update_match', {'id' : match.id}) }}" class="btn btn-primary">Set result</a>
            {% endif %}



            </ul>

            {% endif %}
            {% endif %}
            {% endfor %}
    </div>
</div>
</div>
{% endblock %}