{% extends 'base.html.twig' %}

{% block title %} Matches{% endblock %}

{% block body %}

<style>
  /* Add some basic styling */
  #finished-matches {
    border-radius: 10px;
    padding: 3%;
    background-color: darkslategray;
    color: white;
    border: 1px solid black;
    padding: 10px;
    float: right; /* Switch float to right */
    width: 47%;
  }

  #upcoming-matches {
    border-radius: 10px;
    padding: 3%;
    background-color: darkslategray;
    color: white;
    border: 1px solid black;
    padding: 10px;
    float: left; /* Switch float to left */
    width: 47%;
    margin-bottom: 10px;
  }

  .waiting-match {
    display: flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
    border: 1px solid black;
    padding: 10px;
    width: 47%;
    margin-top: 10px;
    float: left; /* Switch float to left */
  }

  .match-result {
    display: inline-block;
    width: fit-content;
    background-color: #eaeaea;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    padding: 3px 5px;
  } 

</style>

{% set today = "now"|date("d-m-Y") %}

<div style=" margin: 3%;">
   

      <div id="finished-matches">
        <h2>Finished Matches :</h2>
       
        <ul>
          {% for match in matches %}

          {% if match.getMatchDate()|date("d/m/Y") < today and match.teamResult1 is not null and match.teamResult2 is not null %}
            
              
            <li>{{ match.teamN1 }} <div class="match-result"> {{ match.teamResult1 }} {{ ":" }} {{ match.teamResult2 }}</div>  {{ match.teamN2 }} 
              {{"("}} {{ match.getMatchDate()|date("d/m/Y") }} {{ ")" }}</li>
              
          {% endif %}

          {% endfor %}
        </ul>
      </div>
 
    
      <div id="upcoming-matches">
        {% set x = 0 %}
        <h2>Upcoming Matches :</h2>
        <ul>
          {% for match in matches %}
          {% if match.getMatchDate()|date("d/m/Y") >= today %}
          <li>{{ match.teamN1 }} {{ "VS."}} {{ match.teamN2 }} {{"-"}} {{"("}} {{ match.getMatchDate()|date("d/m/Y") }} {{ ")"
            }}</li>
            {% set x = x + 1 %}
          {% endif %}
          {% endfor %}
          {% if x == 0 %}
            <h4>{{ "There are no upcoming matches!" }}</h4>
          {% endif %}
      
        </ul>
      </div>


      <div class="waiting-match">
        <h2>Waiting Results :</h2>
        {% for match in matches %}
        {% if match.getMatchDate()|date("d/m/Y") < today %} 
        {% if match.teamResult1 is null or match.teamResult2 is null %} 
          <ul>
           <li style="display: inline-block;">{{ match.teamN1 }} {{ "VS."}} {{ match.teamN2 }} {{"-"}} {{"("}} {{ match.getMatchDate()|date("d/m/Y") }} {{ ")"
              }}</li>
              {% if (app.user and app.user == match.teamN1.captain) or (app.user and app.user == match.teamN2.captain) or (app.user and is_granted('ROLE_ADMIN')) %}
                
              <a href="{{ path('update_match', {'id' : match.id}) }}" class="btn btn-primary">Set result</a> 
              {% endif %}
              
              
          
          </ul>
          
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
          
   
</div>
{% endblock %}
