{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
{# Display each search result #}
{% if results %}
<div>
    <h1 style="display: inline-block;" class="list-players">List of players</h1>
</div>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>


        {% for user in results %}


        <tr>
            <td><strong> <a href="{{path('details_user', {'id' : user.id})}}"> {{ user.firstname}} {{user.lastname }}
                    </a> </strong> </td>
            {% if user.team %}

            <td> <a href="{{ path('details_team', {'id' : user.team.id }) }}"> {{ user.team }} </a> </td>
            {% else %}
            <td>

                {{ "-" }}
            </td>
            {% endif %}
            <td><strong> {{ user.position}}
                </strong> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>
    There are no players with this Position!
</h2>
{% endif %}
{% endblock %}