{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}

{% set age = date().diff(date(user.birthday)).y %}
<div id="user" style="margin: 3%;">
    <h1>Details of the player :</h1>
    <table class="table table-dark table-hover">
        <thead>
            <th>Name</th>
            {# <th>LastName</th> #}
            <th>Email</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Team</th>
            <th>Position</th>
            <th>Rating</th>
            <th>City</th>
        </thead>
        <tbody>
            <tr>
                <td><strong> <a href=""> {{ user.firstname }} {{ user.lastname }} </a> </strong> </td>
                {# <td><strong> <a href=""> {{ user.lastname }} </a> </strong> </td> #}
                <td><strong> {{ user.email }} </strong> </td>
                <td><strong> {{ age }} </strong> </td>
                <td><strong> {{ user.nTel }} </strong> </td>
                {% if user.getTeam() %}
                <td><strong> {{ user.getTeam() }} </strong> </td>
                {% else %}
                <td><strong> {{ "--" }} </strong> </td>
                {% endif %}
                <td><strong> {{ user.position.title }} </strong> </td>
                <td><strong> {{ user.rating }} </strong> </td>
                <td><strong> {{ user.city }} </strong> </td>
            </tr>
        </tbody>

    </table>
</div>
{% endblock %}