{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
<style>
/*#list_table{ 
    border-radius: 10px;
}

.search{
    float: right;
    border-radius: 10px;
}

.search_box{
    
    border-radius: 10px;
    
}*/
</style>

<div id="list_table" >
    <div>
        <h1 style="display: inline-block;">List of players</h1>

        {# {{ form_start(form) }} #}
        {# {{ form_row(form.search) }}
        {{ form_widget(form) }} #}
        {# {{ form_end(form) }} #}
        <div class="search">
            <input type="text" placeholder="Search" class="search_box">

        </div>
    </div> 
<table class="table table-dark table-hover" >
    <thead> 
        <tr>    
            <th>Name</th>
            <th>Team</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}

        <tr>
            <td><strong> <a href="{{path('details_user', {'id' : user.id})}}"> {{ user.firstname}} {{user.lastname }}
                    </a> </strong> </td>
                    {% if user.team %}
                        
                    <td> <a href="{{ path('details_team', {'id' : user.team.id }) }}"> {{ user.team }} </a> </td>
                    {% else %}
                    <td>

                        {{ "-" }}
                    </td>
                    {% endif %}
                    <td><strong>  {{ user.position}}
                     </strong> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}